doctype html
html(lang='en')
  head
    title tinychat
    meta(charset='utf-8')
    meta(content='', name='description')
    meta(content='Hashobject team (hashobject.com)', name='author')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
    link(href='/css/app.css', rel='stylesheet', type='text/css')
  body
    #landing-page.page.hidden
      button#new-chat-button New chat
    #chat-page.page.hidden
      #chat-settings
        i.settings-show.settings-toggle
          include ../design/settings.svg
        i.settings-hide.settings-toggle
          include ../design/close.svg
        #invite-link You need partner to chat with.<br>
          a(href="", target="_blank") Send an invite
          |.
        #local-video
        .note Your video. This is what other person is seeing.
      #chat-box
        #remote-video
        #messages
          ul 
            li.mine
              p cos for me it's like: switching to master - no changes in files; switching to version-1 - changes are visible
            li.not-mine
              p very tricky
            li.mine
              p I can copy paste you the Krzysiek's way to do it
            li.mine
              p so you won't have to wait for anyone
            li.mine
              p It's good for me, if I have you merging - it's like the last check.
            li.not-mine
              p Ok - works for me!
            li.not-mine
              p I'm done for today.
            li.mine
              p Bye!
          #message-input.mine
            input(placeholder="Type in here")
    script(src='//code.jquery.com/jquery-2.1.0.min.js')
    script(src='https://cdn.goinstant.net/v1/platform.min.js')
    script(src='https://cdn.goinstant.net/integrations/gortc/latest/gortc.min.js')
    script(src='/js/app.js')