doctype html
html(lang='en')
  head
    title tinychat
    meta(charset='utf-8')
    meta(content='', name='description')
    meta(content='Hashobject team (hashobject.com)', name='author')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
    link(href='/css/app.css', rel='stylesheet', type='text/css')
    link(href='humans.txt' rel='author')
  body
    #landing-page.page.hidden
      #landing-page-content
        h1.logo
          include ../design/logo.svg
        p Have you tried Wheaties? They’re whole wheat with all of the bran. Won’t you try Wheaties? For wheat is the best food of man. They’re crispy and crunchy the whole year through, The kiddies never tire of them and neither will you. So just try Wheaties, the best breakfast food in the land!
        p Your tread must be light and sure, as though your path were upon rice paper. It is said, a Shaolin priest can walk through walls. Looked for, he can not be seen. Listened for, he can not be heard. Touched, can not be felt. This rice paper is the test. Fragile as the wings of the dragonfly, clinging as the cocoon of the silk worm. When you can walk its length and leave no trace. You will have learned.
        #for-geeks
        button#new-chat-button Start new chat
    #chat-page.page.hidden
      #chat-settings.opened
        i.settings-show.settings-toggle.on-settings-closed
          include ../design/settings.svg
        i.settings-hide.settings-toggle.on-settings-opened
          include ../design/close.svg
        #invite-link.on-settings-opened You need partner to chat with.<br>
          a(href="", target="_blank") Send an invite
          |.
        #local-video.on-settings-opened
        .note.on-settings-opened Your video. This is what other person is seeing.
      #chat-box
        #remote-video
        #messages
          ul 
            li.mine
              p cos for me it's like: switching to master - no changes in files; switching to version-1 - changes are visible
            li.not-mine
              p very tricky
            li.mine
              p so you won't have to wait for anyone
          #message-input.mine
            input(placeholder="Type in here")
    script(src='https://cdn.goinstant.net/v1/platform.min.js')
    script(src='https://cdn.goinstant.net/integrations/gortc/latest/gortc.min.js')
    script(src='/js/app.js')