doctype html
html(lang='en')
  head
    title tinyChat
    meta(charset='utf-8')
    meta(content='Text chat with video background. No voice, no history, no passwords. Completely anonymous', name='description')
    meta(content='chat, tiny chat, anonymous, no voice, no history, no passwords', name='keywords')
    meta(content='Hashobject team (hashobject.com)', name='author')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
    link(rel="shortcut icon",href="favicon.ico")
    link(href='/css/app.css', rel='stylesheet', type='text/css')
    link(href='humans.txt' rel='author')
  body
    include landing
    include chat
    script(src='//simplewebrtc.com/latest.js')
    script(src='/js/app.js')
