#landing-page.page.hidden
  #landing-page-content
    h1.logo
      include ../design/logo.svg
    p Have you tried Wheaties? They’re whole wheat with all of the bran. Won’t you try Wheaties? For wheat is the best food of man. They’re crispy and crunchy the whole year through, The kiddies never tire of them and neither will you. So just try Wheaties, the best breakfast food in the land!
    p Your tread must be light and sure, as though your path were upon rice paper. It is said, a Shaolin priest can walk through walls. Looked for, he can not be seen. Listened for, he can not be heard. Touched, can not be felt. This rice paper is the test. Fragile as the wings of the dragonfly, clinging as the cocoon of the silk worm. When you can walk its length and leave no trace. You will have learned.
    a#for-geeks-button For geeks 
      include ../design/bottom-arrow.svg
    #for-geeks.closed
      p TinyChat is WebRTC text-chat with background video (no-voice). It's just for two people and completely anonymous. Don't need any registration, usersnames, passwords. 
       | Chat itself works without server. It's peer to peer communication between two browsers.
      p Inspired by Kevin Roses 
        a(href="https://www.youtube.com/watch?v=N6UW0JY5PUs") Tiny concept
        | .
      h2 Technologies:
      ul
        li 
          a(herf="https://goinstant.com/") GoInstant
          | ,
        li 
          a(href="http://www.webrtc.org/") WebRTC
          | ,
        li 
          a(href="http://www.w3.org/Graphics/SVG/") SVG
          | ,
        li
          a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/filter") CSS filters
          | ,
        li
          a(href="http://gruntjs.com/") grunt
          | ,
        li
          a(href="http://underscorejs.org/") underscore.js
          | ,
        li
          a(href="https://github.com/visionmedia/page.js") page.js
          | ,
        li 
          a(href="http://css-tricks.com/snippets/jquery/draggable-without-jquery-ui/") drags.js
            | ,
        li
          a(href="http://jquery.com/") jquery
          | ,
        li 
          a(href="https://github.com/broofa/node-uuid") uuid
          | ,
        li
          a(href="http://jade-lang.com/") jade
          | ,
        li 
          a(href="https://github.com/LearnBoost/stylus") stylus
          | ,
        li
          a(href="http://visionmedia.github.io/nib/") nib
          | .
      p Developed by 
        a(href="http://hashobject.com/") Hashobject team 
        | for 
        a(href="http://www.staticshowdown.com/") Staticshowdown Hackathon
        | .
    button#new-chat-button Start new chat