@import 'nib'
global-reset()

html
body
  color: white;
  font-family: "Helvetica Neue",Helvetica,'PT Sans',Arial,sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width: 100%;

a
  color: #2eb497;
  text-decoration: none;

::-webkit-input-placeholder
  color: #a3a3a3;
:-moz-placeholder /* Firefox 18- */
  color: #a3a3a3;  
::-moz-placeholder /* Firefox 19+ */
  color: #a3a3a3;
:-ms-input-placeholder 
  color: #a3a3a3;

#remote-video video
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(4px) grayscale(100%) brightness(130%) contrast(100%);
  filter: blur(4px) grayscale(100%) brightness(130%) contrast(100%);

#message-input
#messages
  position: relative;
  z-index: 2;

.page.hidden 
  display: none;

#chat-settings
  background-color: #1f282d;
  width: 420px;

  & .note
    background-color: #2eb497;
    padding: .75em 1.5em .75em 1em;
    text-shadow: none;

i.settings-toggle
  display: inline-block;
  height: 4.5em;
  width: 4.5em;

.settings-show
  background-color: #1f282d;
  & svg
    height: 20px;

.settings-hide
  background-color: #e66047;
  & svg
    height: 14px;

#invite-link
  padding: .75em 1.5em .75em 1em;

#local-video
  line-height: 0;
  width: 100%;

  & video
    width: 100%;

#messages
  width: 420px;

  & li
    background: rgba(0,0,0,0.6);
    border-left-width: 0.5em;
    border-left-style: solid;
    margin-bottom: 1px;
    padding: .75em 1.5em .75em 1em;
    &.mine
      border-left-color: #2eb497;
    &.not-mine
      border-left-color: #e66047;

    &#message-input
      padding: 0;

      & input
        padding: .75em 1.5em .75em 1em;
        background-color: transparent;
        border: none;
        box-sizing: border-box;
        color: #bebebe;
        font-size: 1em;
        width: 100%;
        &:focus
          outline: none;

    & p
      margin: 0;