@import 'nib'
global-reset()

html
body
  color: white;
  font-family: "Helvetica Neue",Helvetica,'PT Sans',Arial,sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  width: 100%;

a
  color: #2eb497;
  text-decoration: none;

::-webkit-input-placeholder
  color: #a3a3a3;
:-moz-placeholder /* Firefox 18- */
  color: #a3a3a3;  
::-moz-placeholder /* Firefox 19+ */
  color: #a3a3a3;
:-ms-input-placeholder 
  color: #a3a3a3;

@import './landing.styl'
@import './chat.styl'