#chat-page.no-chat
  background: url('pattern.gif');
  min-height: 100%;


#chat-info-box
  left: 50%;
  position: absolute;
  width: 320px;
  margin-left: -160px;

#remote-video video
  min-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(4px) grayscale(100%) brightness(130%) contrast(100%);
  filter: blur(4px) grayscale(100%) brightness(130%) contrast(100%);

#message-input
#messages
  position: relative;
  z-index: 2;

.page.hidden 
  display: none;

#chat-settings
  z-index: 2;
  background-color: #1f282d;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.2s, height 0.2s;

  & .note
    background-color: #2eb497;
    padding: .75em 1.5em .75em 1em;
    text-shadow: none;

  &.opened
   width: 420px;
   transition: width 0.2s, height 0.2s;

   & .on-settings-opened
     display: block;

   & .on-settings-closed
     display: none;  

  &.closed
    width: 4.5em;
    transition: width 0.2s, height 0.2s;

    & .on-settings-opened
      display: none;

    & .on-settings-closed
      display: block;


#chat-page
  &.local-video-started
    & #chat-settings.opened
      & .note
        display: block;
 &:not(.local-video-started)
    & #chat-settings.opened
      & .note
        display: none;        


i.settings-toggle
  display: inline-block;
  height: 4.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
  user-select: none;
  &:hover
    opacity: 1;
    transition: opacity 0.2s;


  & svg
    position: absolute;
    top: 50%;
    right: 50%;

.settings-show
  background-color: #1f282d;
  & svg
    height: 20px;
    margin-top: -10px;
    margin-right: -10px;

.settings-hide
  background-color: #e66047;
  & svg
    height: 14px;
    margin-top: -7px;
    margin-right: -7px;

#invite-link
  padding: .75em 4.5em .75em 1em;
  height: 3.0em;
  white-space: nowrap; 

#local-video
  line-height: 0;
  width: 100%;

  & video
    width: 100%;

#messages
  width: 420px;
  
  & ul
    // should be done in percentage
    max-height: 400px;
    overflow-y: auto;


  & li
  & #message-input
    background: rgba(0,0,0,0.6);
    border-left-width: 0.5em;
    border-left-style: solid;
    margin-bottom: 1px;
    padding: .75em 1.5em .75em 1em;
    &.mine
      border-left-color: #2eb497;
    &.not-mine
      border-left-color: #e66047;

  & #message-input
    padding: 0;

    & input
      padding: .75em 1.5em .75em 1em;
      background-color: transparent;
      border: none;
      box-sizing: border-box;
      color: #bebebe;
      font-size: 1em;
      width: 100%;
      &:focus
        outline: none;

    & p
      margin: 0;