#landing-page
  background: url('pattern.gif');
  min-height: 100%;
  padding-top: 3em;

#landing-page-content
  background-color: #1f282d;
  color: white;
  max-width: 800px;
  margin: 2em auto 0;
  padding: 4.5em 7em;

  & .logo
    margin-bottom: 3em;
    text-align: center;

  & p
    margin-bottom: .75em;

  & a
    color: #2eb497;

#new-chat-button
  background-color: #2eb497;
  border: none;
  color: white;
  display: block;
  font-size: 1em;
  margin: 4em auto 0;
  padding: .75em 2em;